:root {
  --bg-page: #ffffff;
  --bg-card: #f5f5f5;
  --text-primary: #222;
  --text-secondary: #666;
  --bg-box: #f5f5f5; 
  --text-light-in-button: #fff;

  // background chính
  --bg-main: #fff;
  --bg-blend-mode: overlay;
  --bg-sidebar: rgb(180 181 182 / 51%);

  // màu các button trong list
  --list-btn-bg: #191919; 
  --bg-img-home-page: url("/access/imgs/hinh-nen-vu-tru-2.jpg") no-repeat, #2425277d;
}

.dark-mode {
  --bg-page: #1f1f1f;
  --bg-card: black;
  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;
  --bg-main: no-repeat center url(/access/imgs/hinh-nen-vu-tru-2.jpg), #242527;
  --bg-blend-mode: overlay;
  --bg-sidebar: #24252781;
  --text-light-in-button: #8c8c8e;

  // màu các button trong list
  --list-btn-bg: #191919;

  --bg-img-home-page: url("/access/imgs/hinh-nen-vu-tru-2.jpg") no-repeat, #2425277d;
}

.light-mode {
  // White: #ffffff
  // Rose: #9b1c31
  // Rose hover: #c72c48
  // Light rose: #f6d6dc
  // Text: #1f1f1f
  --bg-box: #f5f5f5; 
  --bg-page: #d7d3d3;
  --bg-card: #9b1c31;
  --text-primary: #222;
  --text-secondary: #666;
  --bg-main: no-repeat center url("/access/imgs/hinh-nen-vu-tru-2-light.png"), #242527;
  --bg-blend-mode: none;
  --bg-sidebar: rgb(180 181 182 / 51%);

  --text-light-in-button: #fff;

  // màu các button trong list
  --list-btn-bg: #191919;


  --bg-img-home-page: url("/access/imgs/hinh-nen-vu-tru-2-light.png") no-repeat, #2425277d;
}