.wrapper {
  height: 100%;
  .book-box {
    height: 100%;
    position: relative;
    .list-page {
      height: 100%;
      position: absolute;
      perspective: 1000px;
      transform-style: preserve-3d;
      width: clamp(300px, 100%, 500px);
      .page {
        position: absolute;
        width: 100%;
        height: clamp(400px, 100%, 600px);
        background-image: url(/access/imgs/bg-responsive.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 50px 40px 20px 45px;
        overflow-y: overlay;
        z-index: var(--z-index);
        transform-style: preserve-3d;
        transform-origin: left 0px;
        transition: transform 1s linear;
        p {
          font-family: "Garamond", "Times New Roman", serif;
          color: #5c4033;
          font-style: italic;
          text-align: justify;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          font-size: 14px;
          line-height: 1.6;
          font-weight: bold;
        }
        .container-3d {
          position: absolute;
          top: -60px;
          left: 50%;
          transform: translateX(-50%);
          #canvas3dAboutRes {
            width: 320px !important;
            height: 320px !important;
            max-width: fit-content;
          }
        }
      }
      .cover {
        background-image: url(/access/imgs/cover.png);
      }
      .cover-back-bg {
        background-image: url(/access/imgs/cover2.png);
      }
      .bg-fit-content {
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    .pages-btn {
      position: absolute;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding-top: 20px;
      bottom: 60px;
      .btn-book {
        .btn-item {
          cursor: pointer;
          padding: 10px 15px;
          border: 1px solid transparent;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0 4px rgba(255, 255, 255, 0.623);
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.144),
            rgba(255, 255, 255, 0.247),
            rgba(255, 255, 255, 0.39)
          );
          display: inline-block;
          transition: box-shadow 0.15s, transform 0.15s;
          border-color: rgba(255, 255, 255, 0.623);
          &:active {
            box-shadow: none;
            transform: translateY(2px);
          }
        }
      }
    }
  }
}

@media (min-width: 950px) {
  .wrapper {
    display: none;
  }
}
