<app-particle-weather />
<app-custom-cursor />
<app-theme-character-selector #studioSelector />
<app-fortune-modal #fortuneModal />
<app-mobile-bottom-nav (openFortune)="openFortuneModal()" />

<div class="warpper main-bg relative z-10" #wrapperMainLayout>
  <app-left-sidebar />
  <div class="content">
    <app-header-responsive ($clickMenu)="clickMenuOpen($event)" (openStudio)="openStudioSelector()" />
    <div class="body pb-20 md:pb-0">
      <router-outlet />
    </div>
  </div>
  <app-right-sidebar (openFortune)="openFortuneModal()" (openStudio)="openStudioSelector()" />
  <div class="menu-bars" [ngClass]="({ expan: openMenu() })">
    <div class="header-img">
      <img src="/access/imgs/myImg1.jpg" alt="">
    </div>
    <div class="boxes-btn-list">
      @for (item of menu(); track $index) {
      <button
        [routerLink]="['/', item.path]"
        matTooltipPosition="right"
        [matTooltip]="item.toolltip"
      >
        <mat-icon class="icons">{{ item.icon }}</mat-icon>
        <p class="text">{{ item.toolltip }}</p>
      </button>
      }
    </div>
  </div>
</div>
