.wrapper {
  padding: 20px 40px;
  height: 100vh;
  transition: all 0.4s linear;
}

// responsive
@media (max-width: 950px) {
  .wrapper {
    padding: 20px 5px;
  }
}
@media (min-width: 950px) and (max-width: 1200px) {
  .wrapper {
    padding: 20px 10px;
  }
}

.loader-fixed {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen mờ mờ */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
}

.isHide {
  opacity: 0;
  z-index: -9999;
}
