<app-responsive-book />
<div class="wrapper">
  <div class="book-box">
    <div class="flip-box" #FlipBoxRef>
      <div class="leaf" style="--z-index: 60" #leaf>
        <div class="page front cover bg-fit-content"></div>
        <div
          class="page back bg-fit-content"
          style="
            background-image: url(/access/imgs/pageBook.png);
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <p
            style="
              font-family: 'Garamond', 'Times New Roman', serif;
              color: #5c4033;
              font-style: italic;
              text-align: justify;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
              font-size: 30px;
            "
          >
            NHẬT KÝ
          </p>
        </div>
      </div>

      <div class="leaf" style="--z-index: 50" #leaf>
        <div class="page front page-index-f">
          <div class="part">
            <img
              src="/access/imgs/img4.jpg"
              style="
                clip-path: rect(5px 180px 180px 5px round 10%);
                width: 170px;
                height: 170px;
                float: right;
                shape-outside: element();
              "
            />
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tôi sinh ra ở Hà Nội, nhưng tuổi thơ
              và phần lớn quãng thời gian trưởng thành của tôi lại gắn liền với
              mảnh đất Bắc Ninh yên bình. Trong huyết quản tôi, vẫn luôn chảy
              dòng máu của vùng đất Tổ Phú Thọ. Có lẽ, sự giao thoa giữa nét cổ
              kính của quê hương, sự bình dị của Bắc Ninh và nhịp sống hiện đại
              của Thủ đô đã tạo nên một con người tôi với những sở thích và đam
              mê đa dạng 🤩.
            </p>
          </div>
          <p class="part">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Âm nhạc là một phần không thể thiếu
            trong cuộc sống của tôi 🎶🎶. Tôi yêu thích những giai điệu du
            dương, những ca từ sâu lắng, nó giúp tôi tìm thấy sự bình yên giữa
            những bộn bề của cuộc sống 🥰🥰.
          </p>
          <div class="center">
            <img src="/access/gifs/music-nobg.gif" alt="" height="200" />
          </div>
          <span class="index">1</span>
        </div>
        <div class="page back page-index-b">
          <p class="part">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ngoài ra, tôi cũng là một game thủ
            🎮😎, không quá cuồng nhiệt, nhưng đủ để giải tỏa căng thẳng sau
            những giờ làm việc căng thẳng 😙.
          </p>
          <div class="center">
            <img src="/access/gifs/game.gif" alt="" height="150" />
          </div>
          <p class="part">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tôi luôn tò mò về những điều mới mẻ ,
            thích khám phá những vùng đất xa xôi cùng bạn bè 🧐.
          </p>
          <p class="part">
            <img
              src="/access/imgs/img1.jpg"
              style="
                clip-path: circle(50%);
                width: 200px;
                height: 200px;
                float: right;
                shape-outside: element();
              "
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thể thao cũng là một phần quan trọng
            trong cuộc sống của tôi, đặc biệt là bóng đá, cầu lông và bóng
            chuyền.
          </p>
          <span class="index">2</span>
        </div>
      </div>

      <div class="leaf" style="--z-index: 40" #leaf>
        <div class="page front page-index-f">
          <div class="container-3d">
            <canvas id="canvas3dhome" width="320" height="320"></canvas>
          </div>
          <p class="part" style="margin-top: 160px">
            <img
              src="/access/imgs/myImg2.jpg"
              style="
                clip-path: circle(50%);
                width: 200px;
                height: 200px;
                float: right;
                shape-outside: element();
              "
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tuy nhiên, đam mê lớn nhất của tôi vẫn
            là công nghệ 🤖. Tôi bị cuốn hút bởi thế giới của web, mobile, AI và
            Data 😵‍💫. Tôi muốn được khám phá và chinh phục những đỉnh cao của
            công nghệ. Để theo đuổi đam mê này, tôi đã chọn trường Đại học Sao
            Đỏ (Chí Linh, Hải Dương) với chuyên ngành phần mềm 👩‍💻.
          </p>
          <span class="index">3</span>
        </div>
        <div class="page back page-index-b">
          <p class="part">
            <img
              src="/access/imgs/languague.png"
              alt=""
              srcset=""
              style="
                clip-path: rect(5px 140px 140px 5px round 10%);
                width: 150px;
                height: 150px;
                float: right;
                shape-outside: element();
              "
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tại đây, tôi đã được trang bị những
            kiến thức nền tảng về C++, PHP, JavaScript, TypeScript, Python, C#,
            Git, OOP và các IDE phổ biến. Tôi cũng đã có cơ hội làm quen với các
            framework như Swing, ReactJS, NextJS, ASP.NET Core API, Java
            Android, Django, VueJS, Angular và NodeJS.
          </p>
          <div class="center">
            <img
              src="/access/imgs/framworks.png"
              alt=""
              srcset=""
              height="100"
            />
          </div>
          <p class="part">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hiện tại, tôi đang sinh sống và làm
            việc tại Hà Nội với vai trò là một kỹ sư phần mềm web 🤸🏽‍♀️. Tôi cảm
            thấy hạnh phúc khi được làm công việc mà mình yêu thích 😘😘.
          </p>

          <div class="center">
            <img src="/access/gifs/sleep.gif" alt="" srcset="" height="200" />
          </div>
          <span class="index">4</span>
        </div>
      </div>

      <div class="leaf" style="--z-index: 30" #leaf>
        <div class="page front page-index-f">
          <p class="part">
            <img
              src="/access/imgs/myImg3.jpg"
              alt=""
              srcset=""
              style="
                clip-path: rect(5px 140px 140px 5px round 10%);
                width: 150px;
                height: 150px;
                float: right;
                shape-outside: element();
              "
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ước mơ của tôi là kiếm thật nhiều tiền
            💵💸💴💶 để có thể xây dựng một mái ấm gia đình hạnh phúc 🏘 🥰. Tôi
            muốn mang đến cho những người thân yêu của mình một cuộc sống đầy đủ
            và tiện nghi. Tôi tin rằng, với sự nỗ lực không ngừng nghỉ 💪💪, tôi
            sẽ đạt được những ước mơ của mình 😤. Tôi sẽ không ngừng học hỏi,
            không ngừng sáng tạo và không ngừng vươn lên. Tôi sẽ chứng minh cho
            mọi người thấy rằng, một người con sinh ra ở Hà Nội, lớn lên ở Bắc
            Ninh cũng có thể chinh phục những đỉnh cao của công nghệ 😉😉.
          </p>
          <p style="text-align: center; padding: 50px 0">~~END~~</p>
          <span class="index">5</span>
        </div>
        <div class="page back cover-back-bg bg-fit-content"></div>
      </div>
    </div>
  </div>
  <div class="pages-btn">
    <div class="btn-book">
      <label for="page4" class="btn-item" (click)="OnClick(false)"> lùi </label>
    </div>
    <div class="btn-book">
      <label for="page5" class="btn-item" (click)="OnClick()"> tiếp </label>
    </div>
  </div>
</div>
