@use "./app/styles/index" as *;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

/* ============================= */
/* 1. DEFINE LIGHT THEME */
/* ============================= */

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: "Roboto, sans-serif",
    ),
  )
);

/* ============================= */
/* 2. DEFINE DARK THEME */
/* ============================= */

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: "Roboto, sans-serif",
    ),
  )
);

/* ============================= */
/* 3. APPLY THEMES */
/* ============================= */

/* Light mặc định */
html {
  @include mat.all-component-themes($dark-theme);
}

/* Dark override khi có class */
.dark-mode {
  @include mat.all-component-colors($dark-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng2-pdf-viewer-container {
  overflow-y: scroll !important;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: 1px;
  scrollbar-color: #8c8c8e transparent;
  scrollbar-gutter: stable;
}
.mat-mdc-text-field-wrapper {
  height: auto !important;
}

.t-center {
  text-align: center;
}

.mdc-tab__text-label {
  color: #f0f0f0 !important;
}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}
.mat-mdc-tab-body-content {
  display: flex;
  position: relative;
}
.mat-mdc-tab-header-pagination-chevron {
  border-color: #fff !important;
}

.lightboxOverlay {
  width: 100% !important;
  height: 100% !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mdc-linear-progress__bar-inner {
  border-color: #ffc107 !important;
}

@keyframes candy-bounce {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  20% {
    transform: translateY(-100px) scaleX(0.8) scaleY(1.2);
  }
  40% {
    transform: translateY(0) scaleX(1.3) scaleY(0.7);
  }
  60% {
    transform: translateY(-50px) scaleX(0.9) scaleY(1.1);
  }
  80% {
    transform: translateY(0) scaleX(1.1) scaleY(0.9);
  }
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}

@keyframes left-2right-candy-bounce {
  0% {
    opacity: 0;
    transform: translateX(-100%) scaleX(1) scaleY(1);
  }
  50% {
    opacity: 1;
    transform: translateX(50px) scaleX(1) scaleY(1);
  }
  70% {
    transform: translateX(100px) scaleX(0.7) scaleY(1.3);
  }
  80% {
    transform: translateX(100px) scaleX(1.2) scaleY(0.8);
  }
  100% {
    transform: translateX(100px) scaleX(1) scaleY(1);
  }
}

.card {
  background-color: var(--bg-card);
}

.page {
  background-color: var(--bg-page);
}

.card-box {
  background-color: var(--bg-box);
}

.card-sidebar {
  background-color: var(--bg-sidebar);
}

// màu button và color text
.button-bg {
  button {
    background-color: var(--list-btn-bg);
    color: var(--text-light-in-button);
  }
}

.main-bg {
  background: var(--bg-main);
  background-blend-mode: var(--bg-blend-mode);
}


// background image ở trang home
.bg-home-page-img {
  background: var(--bg-img-home-page);
}


//header màu responsive
.header-bg-responsive {
  background-color: var(--header-bg-responsive);
}