<div class="header-menu header-bg-responsive">
  <div class="menu-toggle">
    <div class="icon-menu-bar" tabindex="0" (blur)="onBlur()" (click)="clickOpenMenu()">
      <fa-icon [icon]="icons.faBars"></fa-icon>
    </div>
    <div class="icon-home" [routerLink]="['/']">
      <fa-icon [icon]="icons.faHouseChimneyWindow"></fa-icon>
    </div>
  </div>
  <div class="avatar cursor-pointer" [matMenuTriggerFor]="menu">
    <img src="/access/imgs/me.jpg" alt="Hoang Trong Tan Avatar" width="100%" height="100%" />
    <div class="online"></div>
  </div>
  <mat-menu #menu="matMenu" classList="avatar-menu">
    <button mat-menu-item (click)="onTodoListClick()">
      <mat-icon class="text-amber-400">task_alt</mat-icon>
      <span>Quản lý công việc (Todo List)</span>
    </button>
    <button mat-menu-item [routerLink]="['/food-wheel']">
      <mat-icon class="text-amber-400">restaurant</mat-icon>
      <span>Vòng Quay Đồ Ăn & Thực Đơn AI</span>
    </button>
    <button mat-menu-item [routerLink]="['/admin-feedback']">
      <mat-icon class="text-rose-400">admin_panel_settings</mat-icon>
      <span>Quản lý Góp Ý & Lời Chúc (Admin)</span>
    </button>
    <button mat-menu-item (click)="onStudioClick()">
      <mat-icon class="text-theme-accent">palette</mat-icon>
      <span>Tùy chỉnh Studio (Themes & Modes)</span>
    </button>
  </mat-menu>
</div>